type: bluemix
server:
  displayName: US South
  name: us-south
  host: us.apiconnect.ibmcloud.com
org:
  id: 58e580730cf2e2e1ff5bae49
  name: rgupta1usibmcom-redbook
  displayName: rgupta1@us.ibm.com (redbook)
  orgType: apiProvider
  status: active
  advPortalOverride: true
  extUaaAuthenticated: false
  requiresSSLClientCertCheck: false
  dormant: false
  url: 'https://us.apiconnect.ibmcloud.com/v1/orgs/58e580730cf2e2e1ff5bae49'
  externalOrgId: c269e684-20fb-4096-ae8b-4198cc6e9817
  externalInviteOverride: 'https://console.ng.bluemix.net/apis/catalog/invitation'
  externalSpaceId: c269e684-20fb-4096-ae8b-4198cc6e9817
  externalNativeOrgId: bb202d52-0520-4d52-b485-c95919fe495d
catalog:
  id: 58e580740cf2e2e1ff5bae55
  orgId: 58e580730cf2e2e1ff5bae49
  name: Sandbox
  shortName: sb
  owner:
    id: 573bcf710cf29a01c013c95c
    username: rgupta1@us.ibm.com
    context: apimanager
    idpId: 58341db4e63b1219f0f068d1
    email: rgupta1@us.ibm.com
    firstName: Rahul Gupta
    lastName: ''
    status: ACTIVE
    lastLoginTime: '2017-04-06T15:12:02.053+0000'
    url: 'https://us.apiconnect.ibmcloud.com/v1/users/573bcf710cf29a01c013c95c'
  apiCenter: false
  baseUrl: 'https://api.us.apiconnect.ibmcloud.com/rgupta1usibmcom-redbook/sb'
  portalType: ADVANCED
  portalUrl: 'https://developer.us.apiconnect.ibmcloud.com/rgupta1usibmcom-redbook/sb'
  customPortalUrl: 'https://developer.us.apiconnect.ibmcloud.com/rgupta1usibmcom-redbook/sb'
  advPortalUrl: 'https://sb-rgupta1usibmcom-redbook.developer.us.apiconnect.ibmcloud.com'
  gatewayType: DataPowerGateway
  idp: 58e580750cf2e2e1ff5bae56
  idps:
    - 58e580750cf2e2e1ff5bae56
  availableRoles:
    - viewer
    - developer
  default: false
  autoDeploy: true
  gatewayClusterUrl: /gatewayClusters/PRODAPIC_APIMGMT_GATEWAY
  restrictedDeployment: false
  invitationEnabled: true
  selfSignUpEnabled: true
  spaceEnabled: false
  spaceIds:
    - 58e580750cf2e2e1ff5bae5e
  testAppEnabled: true
  testAppCredentials:
    clientId: 6e77ff89-40e2-4f25-a933-e0204bc31523
    clientSecret: P1sA1oG7mP7bQ5kG2tN7lK0qW7wQ5xP0lU1xD5cP2dV5cU0xB7
  createdAt: '2017-04-05T23:40:37.715+0000'
  updatedAt: '2017-04-06T01:22:15.418+0000'
  createdBy: apim-ops@wwpdl.vnet.ibm.com
  updatedBy: rgupta1@us.ibm.com
  url: >-
    https://us.apiconnect.ibmcloud.com/v1/orgs/58e580730cf2e2e1ff5bae49/environments/58e580740cf2e2e1ff5bae55
  productDeploymentApprovalRequiredStates: []
  orgName: rgupta1usibmcom-redbook
space:
  none: true
app:
  metadata:
    guid: 7892f3b5-06d1-4f36-a924-f4f90e2ffead
    url: /v2/apps/7892f3b5-06d1-4f36-a924-f4f90e2ffead
    created_at: '2017-04-06T00:35:37Z'
    updated_at: '2017-04-06T13:30:23Z'
  entity:
    name: eeh-rest-application
    production: false
    space_guid: c269e684-20fb-4096-ae8b-4198cc6e9817
    stack_guid: ac91d31a-86a3-453b-babf-8d49c9d763fc
    buildpack: null
    detected_buildpack: 'SDK for Node.js(TM) (ibm-node.js-4.8.0, buildpack-v3.11-20170303-1144)'
    environment_json: {}
    memory: 256
    instances: 1
    disk_quota: 1024
    state: STARTED
    version: 45834b02-f214-4757-9be7-026e7225d733
    command: null
    console: true
    debug: null
    staging_task_id: f567d3978d8b4658b81fc6f5c87939cc
    package_state: STAGED
    health_check_type: port
    health_check_timeout: null
    staging_failed_reason: null
    staging_failed_description: null
    diego: true
    docker_image: null
    package_updated_at: '2017-04-06T13:28:49Z'
    detected_start_command: ./vendor/initial_startup.rb
    enable_ssh: true
    docker_credentials_json:
      redacted_message: '[PRIVATE DATA HIDDEN]'
    ports:
      - 8080
    space_url: /v2/spaces/c269e684-20fb-4096-ae8b-4198cc6e9817
    stack_url: /v2/stacks/ac91d31a-86a3-453b-babf-8d49c9d763fc
    routes_url: /v2/apps/7892f3b5-06d1-4f36-a924-f4f90e2ffead/routes
    events_url: /v2/apps/7892f3b5-06d1-4f36-a924-f4f90e2ffead/events
    service_bindings_url: /v2/apps/7892f3b5-06d1-4f36-a924-f4f90e2ffead/service_bindings
    route_mappings_url: /v2/apps/7892f3b5-06d1-4f36-a924-f4f90e2ffead/route_mappings
id: d6db95cc-5751-41e9-a9d7-8e7de632c14a
target: 1.0.0
